@(title: Option[String])(content: Html)

@template.main(title) {
    <div id="page-container">
        <div class="grid-row">
            <div>

            @content

            </div>
        </div>
    </div>
    <br />
}