@(article: Article, action: Call, method: String = "POST")

<form action="@action" method="@method">
    <p>
        <label for="title-input">Title:</label>
        <input id="title-input" type="text" name="title" value="@article.getTitle" />
    </p>
    <p>
        <label for="text-input">Text:</label>
        <input id="text-input" type="text" name="text" value="@article.getText" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>