@(article: Article)

@layout.oneColumn(Some("Blog")) {
    <h1>Article creator</h1>

    @fragments.form(article, routes.Application.doCreate)

    <a href="@routes.Application.showList">Back to list</a>
}