@import java.util
@(articles: util.Collection[Article])

@leftColumn = {
    <h1>Articles list</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Text</th>
        </tr>
        @for(article <- articles) {
            <tr>
                <td>@article.getTitle</td>
                <td>@article.getText</td>
                <td><a href="@routes.Application.showDetails(article.getId)">Show</a></td>
                <td><a href="@routes.Application.initEdit(article.getId)">Edit</a></td>
            </tr>
        }
    </table>
}

@rightColumn = {
    <h3>Additional actions</h3>
    <a href="@routes.Application.initCreate">New article</a>
}

@layout.twoColumns(Some("Blog"))(leftColumn, rightColumn)