@(article: Article)

@leftColumn = {
    <h1>Article details</h1>

    <p>
        <strong>Title:</strong>
        @article.getTitle
    </p>
    <p>
        <strong>Text:</strong>
        @article.getText
    </p>

    <a href="@routes.Application.showList">Back to list</a>
}

@rightColumn = {
    <h3>Additional actions</h3>
    <a href="@routes.Application.initEdit(article.getId)">Edit article</a>
}

@layout.twoColumns(Some("Blog"))(leftColumn, rightColumn)